<% add_decidim_meta_tags({
  description: t("decidims_finder_page.description", scope: "participacatalunya")
}) %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
      <div id="center_1R">
  <div class="fpca_descripciopagina formatter_body">
    <div class="basic_text_peq pd-15 pd-30">
        <%= decidim_sanitize t("decidims_finder_page.description", scope: "participacatalunya") %>
    </div>
  </div>
  <div>
<!-- <link href="http://governobert.gencat.cat/web/resources/fwkResponsives/common/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="http://governobert.gencat.cat/web/resources/fwkResponsives/common/css/styles.css" rel="stylesheet" type="text/css"> -->
<%= stylesheet_link_tag 'cercador' %>

<script src="http://governobert.gencat.cat/web/resources/fwkResponsives/common/js/jquery.min.js" type="text/javascript"></script>
<script src="http://governobert.gencat.cat/web/resources/fwkResponsives/common/js/jquery-ui.js" type="text/javascript"></script>
<script src="http://governobert.gencat.cat/web/resources/fwkResponsives/common/js/master.min.js" type="text/javascript"></script>

<section class="padding-xs padding-sm padding-md" id="cercador">
    <article class="container">
        <div class="row">
            <div id="left-column" class="col-xs-12 col-md-4">
                <form id="search-form" class="cercador-convenis pd-15 collapse listForm in" method="get"
                      action="/cercador/" onsubmit="return false;">
                    <div class="form-group">
                        <div id="clear_button" class="pull-right"></div>
                        <label for="query">Cerca per text</label>
                        <input type="search" name="q" id="query" title="Introdu&iuml;u les paraules a cercar"
                               class="form-control"/>
                    </div>
                    <div id="accordion" class="llistat_collapse_cont">
                        <div id="tematica" class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">
                                    <a data-toggle="collapse" href="#tematica_collapse"
                                       class="collapsed">Temàtica</a>
                                </p>
                            </div>
                            <div id="tematica_collapse" class="panel-collapse collapse">
                                <fieldset>
                                    <legend class="hidden">
                                        Temàtica
                                    </legend>
                                    <div class="panel-body-cercador"></div>
                                </fieldset>
                            </div>
                        </div>
                        <div id="info_generica" class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">
                                    <a data-toggle="collapse"
                                       href="#info_generica_collapse"
                                       class="collapsed">Tipologia de la informació genèrica</a>
                                </p>
                            </div>
                            <div id="info_generica_collapse" class="panel-collapse collapse">
                                <fieldset>
                                    <legend class="hidden">
                                        Tipologia de la informació genèrica
                                    </legend>
                                    <div class="panel-body-cercador"></div>
                                </fieldset>
                            </div>
                        </div>
                        <div id="info_especifica" class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">
                                    <a data-toggle="collapse"
                                       href="#info_especifica_collapse"
                                       class="collapsed">Tipologia de la informació específica</a>
                                </p>
                            </div>
                            <div id="info_especifica_collapse" class="panel-collapse collapse">
                                <fieldset>
                                    <legend class="hidden">
                                        Tipologia de la informació específica
                                    </legend>
                                    <div class="panel-body-cercador"></div>
                                </fieldset>
                            </div>
                        </div>
                        <div id="data_entrada" class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">
                                    <a data-toggle="collapse"
                                       href="#data_entrada_collapse"
                                       class="collapsed">Data d’entrada</a>
                                </p>
                            </div>
                            <div id="data_entrada_collapse" class="panel-collapse collapse">
                                <fieldset>
                                    <legend class="hidden">
                                        Data d’entrada
                                    </legend>
                                    <div class="panel-body-cercador"></div>
                                </fieldset>
                            </div>
                        </div>
                        <div id="data_resolucio" class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">
                                    <a data-toggle="collapse"
                                       href="#data_resolucio_collapse"
                                       class="collapsed">Data de la resolució</a>
                                </p>
                            </div>
                            <div id="data_resolucio_collapse" class="panel-collapse collapse">
                                <fieldset>
                                    <legend class="hidden">
                                        Data de la resolució
                                    </legend>
                                    <div class="panel-body-cercador"></div>
                                </fieldset>
                            </div>
                        </div>
                        <div id="tipus_resolucio" class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">
                                    <a data-toggle="collapse"
                                       href="#tipus_resolucio_collapse"
                                       class="collapsed">Tipus o sentit de la resolució</a>
                                </p>
                            </div>
                            <div id="tipus_resolucio_collapse" class="panel-collapse collapse">
                                <fieldset>
                                    <legend class="hidden">
                                        Tipus o sentit de la resolució
                                    </legend>
                                    <div class="panel-body-cercador"></div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="column">
                    <p id="stats" class="txt_result"></p>
                    <div id="hits"></div>
                    <div class="column paginacio pd-15">
                        <div id="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<!-- TEMPLATES instantsearch -->
<script type="text/html" id="hit-template">
    <div class="resultat">
        <h2><a href="detall#{{objectID}}">{{objectID}}</a></h2>
        <p>{{assumpte}}</p>
        <p class="block-with-text">
            {{departament_entitat_de}}
        </p>
    </div>
</script>
<script type="text/html" id="no-results-template">
    <div id="no-results-message">
        <p>No s'han trobat resultats per a la cerca <em>"{{query}}"</em>.</p>
    </div>
</script>
<script type="text/html" id="stats-template">
    S'han trobat <strong>{{nbHits}}</strong> resultats
</script>
<!-- Fi TEMPLATES instantsearch -->
<!-- Scripts especifics cercador -->
<script>
    if (location.origin.includes("gencat.cat") && location.pathname[location.pathname.length - 1] !== "/") {
        location.replace(location.origin + location.pathname + "/");
    }
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.4.2/showdown.min.js"></script>
<script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

<%= javascript_include_tag 'dates-range-widget' %>
<%= javascript_include_tag 'cercador' %>
</div>
</div>
</div>
</div>
</div>
</div>