version: '3'
services:
  app:
    build:
      context: .
      args:
        rails_env: development
    tty: true
    stdin_open: true
    volumes:
      - .:/code
      - bundle:/usr/local/bundle
      - node_modules:/code/node_modules
    environment:
      - PORT=3000
      - DATABASE_HOST=pg
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=secret
    ports:
      - 3000:3000
    links:
      - pg
    entrypoint: config/docker/entrypoint.dev.sh
  pg:
    image: postgres
    volumes:
      - pg-data:/var/lib/postgresql/data/pgdata
    environment:
      - PORT=5432
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_DB=participa-catalunya_development
      - POSTGRES_PASSWORD=secret
    ports:
      - 5432:5432
volumes:
  node_modules: {}
  bundle: {}
  pg-data: {}
