<%= decidim_form_for(@form, html: { class: "form new_resource_bank_user_role" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t("resource_bank_user_roles.new.title", scope: "decidim.admin") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t("resource_bank_user_roles.new.create", scope: "decidim.admin") %>
  </div>
<% end %>
