<% if resource_banks.length == 0 %>
  <div class="callout warning">
    <%= t ".no_resource_banks_warning" %>
  </div>
<% end %>

<div class="row small-up-1 medium-up-2 card-grid">
  <div class="column">
    <%= render partial: "decidim/shared/results_per_page" %>
  </div>
</div>

<div class="row small-up-1 medium-up-2 card-grid">
  <%= render resource_banks %>
</div>

<%= decidim_paginate resource_banks %>
