@import "decidim/application";

$SoftGrey : #efefef;
$Grey     : #666;

$DarkGrey   : #2c2930;
$MediumGrey : #828282;
$LightGrey  : #e8e8e8;
$colorTextLegalAdvice: #999;

.off-canvas-wrapper{
    .main-footer {
        background-color: $SoftGrey !important;


    }
}

.main-footer a {
  color: $Grey;
}
.main-footer a:hover, .mini-footer a:hover {
    color: $MediumGrey;
    text-decoration: underline;
}

.mini-footer {
  padding: 1rem 0;
  color: $LightGrey;
  background-color: $DarkGrey;
}

.mini-footer a {
    color: $MediumGrey !important;
}

.off-canvas-wrapper .main-footer {
  background-color: #d3d3d3 !important;
}

.main-footer a {
  color: #020202;
}

section.footer__subhero.extended.subhero.home-section {
  background-color: $white;
  padding-bottom: 0;
}

.part-avis-legal {
    font-family: 'Open Sans';
    font-size: 11px;
    color: $colorTextLegalAdvice !important;
    @include breakpoint( 768 down){
        text-align: center;
    }
}

.footer-nav li {
  padding: 0 1.7rem;
}

.main-footer__badge {
  @include breakpoint(992 down) {
    display: none;
  }

  margin-top: 15px;
  margin-left: 20%;
}

.main-footer {
  .medium-8.large-6.large-offset-3.column {
    width: 58%;
  }
}
