<p><%= t(".pending_html", title: translated_attribute(@course.title), url: @locator.url) %></p>

<p><%= t(".details", registration_type: translated_attribute(@registration_type.title)) %></p>

<p><%= t(".confirmation_pending") %></p>
