<section  class="wrapper-home home-section">
  <div id="upcoming-courses" class="row">
    <h3 class="section-heading"><%= t("decidim.courses.content_blocks.upcoming_courses.upcoming_courses") %></h3>
    <% upcoming_courses.in_groups_of(8, false) do |courses| %>
      <div class="row">
        <% courses.each do |course| %>
        <div class="columns medium-3 course__columns">
          <%= card_for course, size: :s %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="columns small-centered small-12
      smallmedium-8 medium-6 large-4">
      <%= link_to t("decidim.courses.content_blocks.upcoming_courses.view_all_courses"), courses_path, class: "button expanded hollow button--sc home-section__cta" %>
    </div>
  </div>
</section>
