<div class="card__icondata">
  <ul class="card-data">
    <li class="card-data__item">
      <%= icon "datetime", class: "icon--big", role: "img", aria_label: t("decidim.course.show.schedule") %>
    </li>
    <li class="card-data__item">
      <div><%= schedule %></div>
    </li>
    <li class="card-data__item">
      <div><%= duration %></div>
    </li>
  </ul>
</div>
