<div class="card__icondata">
  <ul class="card-data">
    <li class="card-data__item">
      <%= icon "meetings", class: "icon--big", role: "img", "aria-hidden": true %>
    </li>
    <li class="card-data__item">
      <div class="text-left">
        <div class="card__icondata">
          <%= modality %>
        </div>
      </div>
    </li>
  </ul>
</div>
