<% add_decidim_meta_tags({
  description: t("decidims_finder_page.description", scope: "participacatalunya")
}) %>

<div class="row column">
  <div class="row">
    <div class="columns medium-7 mediumlarge-8">
      <div class="section">
        <%= decidim_sanitize t("decidims_finder_page.description", scope: "participacatalunya") %>
      </div>
    </div>
  </div>
</div>
