<%= decidim_form_for(@form, html: { class: "form edit_resource_bank resource_bank_form_admin" }) do |f| %>
  <%= render partial: "form", object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t("resource_banks.edit.update", scope: "decidim.admin"), class: "button" %>
  </div>
<% end %>
