<h2 class="course-title-summary">
  <%= t "courses.new.title", scope: "decidim.admin" %>
</h2>

<%= decidim_form_for(@form, html: { class: "form new_course course_form_admin" }) do |f| %>
  <%= render partial: "form", object: f %>

  <div class="button--double form-general-submit">
    <%= f.submit t("courses.new.create", scope: "decidim.admin") %>
  </div>
<% end %>
