<span>
  <%= l start_date, format: :decidim_short_with_month_name_short %>
</span>
<%= icon "arrow-thin-right", class: "muted", role: "img", "aria-hidden": true %>
<span>
  <%= l end_date, format: :decidim_short_with_month_name_short %>
</span>
