<%= decidim_form_for(@form, url: course_user_role_path(@user_role.course, @user_role), html: { class: "form edit_course_user_roles" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t("course_user_roles.edit.title", scope: "decidim.admin") } %>

  <div class="button--double form-general-submit">
  <%= f.submit t("course_user_roles.edit.update", scope: "decidim.admin") %>
  </div>
<% end %>
