<div class="course-header">
  <div class="course-header__inner">
    <div class="row column course-header__main"
        style="background-image:url(<%= current_participatory_space.banner_image.url %>);">
    </div>
    <div class="course-header__container row collapse column">
      <div class="columns mediumlarge-8 course-header__info">
        <div>
          <h1 class="text-highlight heading2">
            <%= translated_attribute(current_participatory_space.title) %>
          </h1>
        </div>
        <div>
          <h2 class="text-highlight heading-small">
            <% if current_participatory_space.hashtag.present? %>
              <span class="course-header__hashtag">
                <%= link_to "##{decidim_html_escape(current_participatory_space.hashtag)}", "https://twitter.com/hashtag/#{decidim_html_escape(current_participatory_space.hashtag)}", target: "_blank" %>
              </span>
            <% end %>
            <%= translated_attribute(current_participatory_space.subtitle) %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
