div .decidim-services {
    .title {
        font-weight: bold;
        padding-bottom: 10px;
    }
    .description {
        padding-bottom: 10px;
        text-align: justify;
    }
    ul {
        padding-top: 10px;
    }
}